@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* { margin: 0;
   padding: 0;
   box-sizing: border-box; }
    
 img { max-width: 100%;}

 ul {  list-style-type: none } 

p { font-weight: 400;}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: hsl(185, 75%, 39%);
   background-image: url("./images/bg-pattern-top.svg"),url("/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-position: top left, right bottom;
    background-size: 300px;
    margin: 8rem;  
}

.container1 {
  background-color:beige;
  border-radius: 1.3rem;
  Font-size :18px;
  height: 500px;

}
 .container1 .image img{
height: 200px; 
width: 100%; 
 border-radius: 1.3rem 1.3rem 0rem 0rem; 
 }

.container1 .victor img{
border-radius: 6rem;
border: 4px solid white;
 position: absolute;
text-align: center;}
 
.container2 .ul1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
   justify-content: space-around;
  margin-top: 100px;
  
}
.container2 .city p{
display: flex;
flex-direction: row;
justify-content: center;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
padding-top: 3rem;
}
.hr solid {
 

}


  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }

  @media screen {
    
  }